<div class="traffic-lights-container">
    <div class="vertical-lights">
      <traffic-light-vertical [trafficLightData]="trafficLightData"></traffic-light-vertical>
    </div>
    <div class="horizontal-lights">
      <traffic-light-horizontal [trafficLightData]="trafficLightData"></traffic-light-horizontal>
    </div>
    <div class="vertical-lights1">
      <traffic-light-vertical [trafficLightData]="trafficLightData"></traffic-light-vertical>
    </div>
    <div class="horizontal-lights1">
      <traffic-light-horizontal [trafficLightData]="trafficLightData"></traffic-light-horizontal>
    </div>
    <button (click)="trafficLightData.processAccident()" [disabled]="trafficLightData.FlashingInProgress == true">Accident</button>
  </div>
  